@font-face {
  font-display: swap;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  src: url('fonts/montserrat-v31-cyrillic_cyrillic-ext_latin-300.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url('fonts/montserrat-v31-cyrillic_cyrillic-ext_latin-700.woff2') format('woff2');
}

body {
  margin: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  /* background: black; */
}

p {
   font-family: "Montserrat", Arial, sans-serif;
}

.header {
  position: fixed;
  top: 20px;
  height: 32px;
  width: 100%;
  /* padding: 20px; */
  z-index: 100;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (min-width: 768px) {
  .header {
    width: 100%;
    /* margin: 60px; */
    height: 40px;
  }
}

.address-button,
.navigation-button {
  height: 100%;
  margin: 20px;
  background: transparent;
  display: flex;
  cursor: pointer;
}

@media (min-width: 768px) {
  .address-button,
  .navigation-button  {
    height: 100%;
    margin: 40px;

  }
}

.address-button__icon,
.navigation-button__icon {
  width: 100%;
  height: 100%;
}

.address-panel,
.navigation-menu {
  display: none;
}

.address-panel._active,
.navigation-menu._active {
  width: 100%;
  height: calc(100vh - 112px);
  top: 52px;
  position: absolute;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background: black;
  color: #feeb7a;
  font-size: 16px;
}

.navigation-menu._active {
  font-weight: 700;
}

@media (min-width: 768px) {
  .address-panel._active,
  .navigation-menu._active {
    /* height: calc(100% - 80px - 60px); */
    top: 80px;
  }
}


.content {
  display: flex;
  flex-direction: column;
}

.greeting {
  height: 100vh;
  width: 100vw;
  background: black;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  position: relative;
  isolation: isolate;
}

.greeting__decor_mobile {
  width: 100%;
  right:0;
  top: 10%;
  /* bottom: 1%; */
  position: absolute;
  z-index: 0;
  pointer-events: none;
  display: flex;
}

.hand-img {
  width: 100%;
}


.greeting__fill_mobile {
  height: calc(100% - 90px);
  width: calc(100% - 40px);
  margin: 20px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  background: transparent;
  display: flex;
  position: absolute;
  z-index: 1;
}




@media (min-width: 768px) {
  .greeting__fill_mobile {
    display: none;
  }
  .greeting__decor_mobile {
    display: none;
  }
}

.logo-mobile {
  width: 100%;
}

.working-hours {
  margin: 24px;
  background: transparent;
  color: white;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.about {
  height: 100vh;
  width: 100vw;
  background: black;
  position: relative;
  isolation: isolate;
}

.about__decor_mobile {
  width: 100%;
  position: absolute;
  z-index: 0;
  pointer-events: none;
  display: flex;
  flex-direction: column;
}

.image-lamp_mobile {
  width: 100%;
}

/* .image-microphone { */
/*   width: 100%; */
/*   left: -20%; */
/* } */

.about__fill_mobile {
  height: calc(100% - 90px - 8vh);
  width: calc(100% - 40px);
  margin: 20px;
  margin-top: 11vh;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  background: transparent;
  display: flex;
  position: absolute;
  z-index: 1;
}

.point-one_mobile {
  text-align: left;
  color: white;
  font-size: 30px;
  margin-bottom: 40%;
}

.point-one-two_mobile {
  margin: 4vw;
  margin-bottom: 7vh;
  text-align: right;
  color: white;
  font-size: 16px;
}

.about__point-wrapper_mobile {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.point-two_mobile {
  margin: 0;
  text-align: center;
  color: white;
  font-size: 14px;
}

@media (min-width: 768px) {
  .image-lamp {
    display: none;
  }
}

.events {
  height: 100vh;
  width: 100vw;
  background: black;
}

.events__decor_mobile {
  height: 100vh;
  width: 100%;
  position: absolute;
  z-index: 0;
  pointer-events: none;
  display: flex;
  flex-direction: column;
  /* align-items: flex-; */
  justify-content: end;
}

.events__fill_mobile {
  height: calc(100% - 90px - 8vh);
  width: calc(100% - 40px);
  margin: 20px;
  margin-top: 11vh;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  background: transparent;
  display: flex;
  position: absolute;
  z-index: 1;
}

.microphone_mobile {
  width: 60%;
}

.point-three_mobile {
  color: white;
}

.menu {
  height: 100vh;
  width: 100vw;
  background: #400808;
}

.discount {
  height: 100vh;
  width: 100vw;
  background: pink;
}

.banquet {
  height: 100vh;
  width: 100vw;
  background: #45a87f;
}

.contacts {
  height: 100vh;
  width: 100vw;
  background: #f7e6e6;
}


.footer {
  position: fixed;
  bottom: 0;
  height: 40px;
  width: calc(100vw - 40px);
  margin: 20px;
  z-index: 100;
  background: transparent;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}



.reservation-button {
  height: 100%;
  border-radius: 20px;
  background: #feeb7a;
  display: flex;
  align-items: center;
  justify-content: center;
}

.reservation-button__text {
  font-size: 10px;
  font-weight: 700;
  color: black;
  margin: 20px;
}

@media (min-width: 768px) {
  .reservation-button__text {
    font-size: 12px;
    margin: 40px;
  }
}
