@font-face {
  font-display: swap;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  src: url('fonts/montserrat-v31-cyrillic_cyrillic-ext_latin-300.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url('fonts/montserrat-v31-cyrillic_cyrillic-ext_latin-700.woff2') format('woff2');
}

body {
  margin: 0;
  background: black;
}

p {
   font-family: "Montserrat", Arial, sans-serif;
}

.header {
  position: fixed;
  top: 0;
  height: 32px;
  width: calc(100vw - 40px);
  margin: 20px;
  z-index: 100;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation-button {
  height: 100%;
  background: transparent;
  display: flex;
}

.navigation-button__icon {
  width: 100%;
  height: 100%;
}

.address-button {
  height: 100%;
  background: transparent;
  display: flex;
}

.address-button__icon {
  width: 100%;
  height: 100%;
}

.content {
  display: flex;
  flex-direction: column;
}

.greeting {
  height: 100vh;
  width: 100%;
  background: black;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  position: relative;
  isolation: isolate;
}

.greeting__decor-mobile {
  width: 100%;
  right:0;
  top: 10%;
  /* bottom: 1%; */
  position: absolute;
  z-index: 0;
  pointer-events: none;
  display: flex;
}

.hand-img {
  width: 100%;
}


.greeting__fill-mobile {
  height: calc(100% - 90px);
  width: calc(100% - 40px);
  margin: 20px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  background: transparent;
  display: flex;
  position: absolute;
  z-index: 1;
}




@media (min-width: 768px) {
  .greeting__fill-mobile {
    display: none;
  }
  .greeting__decor-mobile {
    display: none;
  }
}

.logo-mobile {
  width: 100%;
}

.working-hours {
  margin: 30px;
  background: transparent;
  color: white;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.about {
  height: 100vh;
  width: 100%;
  background: #45a87f;
  position: relative;
  isolation: isolate;
}

.about__decor {
  position: absolute;
  inset: 0;
  z-index: 1;
  pointer-events: none;
}

.image-lamp {
  width: 100%;
  height: auto;
  display: block;
}


@media (min-width: 768px) {
  .image-lamp {
    display: none;
  }
}

.about__text {
  position: relative;
  z-index: 2;
}

.menu {
  height: 100vh;
  width: 100%;
  background: #400808;
}

.events {
  height: 100vh;
  width: 100%;
  background: #f7e6e6;
}

.discount {
  height: 100vh;
  width: 100%;
  background: #400808;
}

.banquet {
  height: 100vh;
  width: 100%;
  background: #45a87f;
}

.events {
  height: 100vh;
  width: 100%;
  background: #f7e6e6;
}

.footer {
  position: fixed;
  bottom: 0;
  height: 40px;
  width: calc(100vw - 40px);
  margin: 20px;
  z-index: 100;
  background: transparent;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.reservation-button {
  height: 100%;
  border-radius: 20px;
  background: #feeb7a;
  display: flex;
  align-items: center;
  justify-content: center;
}

.reservation-button__text {
  font-size: 12px;
  font-weight: 700;
  color: black;
  margin: 20px;
}
