@font-face {
  font-display: swap;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  src: url('fonts/montserrat-v31-cyrillic_cyrillic-ext_latin-300.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url('fonts/montserrat-v31-cyrillic_cyrillic-ext_latin-700.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Amatic SC';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/amatic-sc-v28-cyrillic_latin-regular.woff2') format('woff2');
}

body {
  margin: 0;
}

p {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
  font-family: "Montserrat", Arial, sans-serif;
}

.main-buttons-wrapper {
  top: 0;
  left: 0;
  position: fixed;
  z-index: 100;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  padding: 20px;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.address-button,
.navigation-button {
  height: 32px;
  width: 32px;
  background: transparent;
  display: flex;
  cursor: pointer;
}

.address-button__icon,
.navigation-button__icon {
  width: 100%;
  height: 100%;
}

.address-panel,
.navigation-menu {
  display: none;
}

.address-panel._active,
.navigation-menu._active {
  width: 84%;
  height: 80%;
  padding: 8%;
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}

.address-panel._active {
  text-align: center;
  font-size: 10vw;
  font-family: 'Amatic SC', Arial, sans-serif;
}

.navigation-menu__item {
  margin: 2px;
  padding: 10px 15px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 30px;
  border-color: #feeb7a;
  border-style: solid;
  border-width: 1px;
  font-family: 'Montserrat', Arial, sans-serif;

}

.footer {
  padding: 20px;
  background: transparent;
  display: flex;
  justify-content: center;
}

.reservation-button {
  padding: 14px 20px;
  border-radius: 30px;
  background: #feeb7a;
  font-size: 10px;
  font-weight: 700;
  color: black;
  font-family: "Montserrat", Arial, sans-serif;

}

.content {
  font-family: 'Montserrat', Arial, sans-serif;
}

.greeting,
.about,
.events,
.menu,
.bar-menu,
.banquet,
.discount,
.contacts {
  height: 100vh;
  width: 100vw;
  background: black;
  position: relative;
  isolation: isolate;
}

.spacer {
  height: 15vh;
  background: black;
}

.section-gradient {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  pointer-events: none;
  background-image: 
    linear-gradient(
      to bottom,
      rgba(0,0,0,1),
      transparent 20%,
      transparent 80%,
      rgba(0,0,0,1)
    );
}

.decor_mobile {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
  pointer-events: none;
  display: flex;
}



.hand-img_mobile {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top right;
}

.image-lamp_mobile {
  width: 100%;
  object-fit: contain;
  object-position: top right;
}

.image-piano_mobile {
  width: 100%;
  object-fit: contain;
  object-position: bottom;
}

.image-fork_mobile {
  width: 90%;
  object-fit: contain;
  object-position: bottom right;
}

.bubbles {
  width: 100%;
}

.gl {
  width: 100%;
  object-fit: contain;
  object-position: top;
}

.greeting__fill_mobile {
  height: 80%;
  width: calc(100% - 40px);
  margin: 20px;
  background: transparent;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  position: absolute;
  z-index: 10;
}

.fill_mobile {
  height: 72%;
  width: 100%;
  padding-top: 20%;
  flex-direction: column;
  justify-content: space-between;
  background: transparent;
  display: flex;
  align-items: stretch;
  position: absolute;
  z-index: 10;
}

.wrapper_end {
  justify-content: flex-end;
}

.wrapper_column {
  display: flex;
  flex-direction: column;
}

.wrapper_row-center {
  display: flex;
  justify-content: center;
}

.wrapper_column-padding {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.wrapper_padding {
  padding: 20px;
}

.logo-mobile {
  width: 50%;
}

.working-hours_mobile {
  padding: 24px;
  font-size: 20px;
  background: transparent;
  color: white;
  text-align: left;
}

.secondary-point_mobile {
  text-align: center;
  color: white;
  font-size: 4.5vw;
}

.image-extract_mobile {
  width: 75%;
  object-fit: contain;
}

.icon-birthday,
.icon-marriage {
  height: 32px;
  width: 32px;

}

.text_pink {
  width: 45%;
  padding: 5px 20px;
  padding-top: 15px;
  font-size: 2.7vh;
  color: #c98e7d;
}

.text_micro-pink {
  width: 45%;
  padding: 0.5vh 20px;
  font-size: 2vh;
  color: #c98e7d;
}

.button_black_mobile {
  width: calc(100% - 4vh);
  text-align: center;
  font-size: 2.5vh;
  margin-bottom: 2%;
  padding: 2vh;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  border-style: solid none;
  border-width: 1px;
  border-color: #feeb7a;
}


.banquet__point1_mobile {
  margin: 10px 20px;
  color: white;
  font-size: 6vw;
}

.banquet__point2_mobile {
  margin: 10px 20px;
  color: #feeb7a;
  text-shadow:
    0 0 6px red,
    0 0 12px red;
  font-size: 8vw;
  text-align: right;
}

.banquet__point-two_mobile {
  padding: 22px 20px;
  color: white;
  font-size: 4.5vw;
}

.banquet__connect-text_mobile {
  padding: 6px;
  color: white;
  font-size: 4vw;
}

.wrapper_column-center {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrapper_row {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.wrapper_evenly {
  justify-content: space-evenly;
}

.button_soft-black_mobile {
  /* width: 100%; */
  margin: 1px;
  padding: 2vw 3vw;
  border-radius: 4vw;
  border-style: solid;
  border-width: 1px;
  border-color: #feeb7a;
  background: rgba(254,235,122,0.05);
  color: white;
  text-align: center;
  font-size: 3.5vw;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.main-point_mobile {
  margin: 20px;
  color: white;
  font-size: 6vw;
}

@media (min-width: 768px) {

  .greeting__decor_mobile,
  .greeting__fill_mobile,
  .about__decor_mobile,
  .about__fill_mobile,
  .events__decor_mobile,
  .events__fill_mobile,
  .menu__decor_mobile,
  .menu__fill_mobile,
  .bar-menu__decor_mobile,
  .bar-menu__fill_mobile,
  .banquet__decor_mobile,
  .banquet__fill_mobile,
  .discount__decor_mobile,
  .discount__fill_mobile,
  .contacts__decor_mobile,
  .contacts__fill_mobile {
    display: none;
  }
}
