@font-face {
  font-display: swap;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  src: url('fonts/montserrat-v31-cyrillic_cyrillic-ext_latin-300.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url('fonts/montserrat-v31-cyrillic_cyrillic-ext_latin-700.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Amatic SC';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/amatic-sc-v28-cyrillic_latin-regular.woff2') format('woff2');
}

body {
  margin: 0;
}

p {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
  font-family: "Montserrat", Arial, sans-serif;
}

.main-buttons-wrapper {
  top: 0;
  left: 0;
  position: fixed;
  z-index: 100;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  padding: 20px;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.address-button,
.navigation-button {
  height: 32px;
  width: 32px;
  background: transparent;
  display: flex;
  cursor: pointer;
}

.address-button__icon,
.navigation-button__icon {
  width: 100%;
  height: 100%;
}

.address-panel,
.navigation-menu {
  display: none;
}

.address-panel._active,
.navigation-menu._active {
  width: 80%;
  height: 90%;
  padding: 10% 10%;
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}

.address-panel._active {
  text-align: center;
  font-size: 10vw;
  font-family: 'Amatic SC', Arial, sans-serif;
}

.navgation-menu._active {
  font-family: 'Montserrat', Arial, sans-serif;
}

.navigation-menu__about,
.navigation-menu__events,
.navigation-menu__menu,
.navigation-menu__bar-menu,
.navigation-menu__banquet,
.navigation-menu__discount,
.navigation-menu__contacts {
  /* margin: 5px; */
  padding: 15px 20px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 30px;
  border-color: #feeb7a;
  border-style: solid;
  border-width: 1px;
}

.footer {
  padding: 20px;
  background: transparent;
  display: flex;
  justify-content: center;
}

.reservation-button {
  padding: 14px 20px;
  border-radius: 30px;
  background: #feeb7a;
  font-size: 10px;
  font-weight: 700;
  color: black;
  font-family: "Montserrat", Arial, sans-serif;

}

.content {
  font-family: 'Montserrat', Arial, sans-serif;
}

.greeting,
.about,
.events,
.menu,
.bar-menu,
.banquet,
.discount,
.contacts {
  height: 100vh;
  width: 100vw;
  background: black;
  position: relative;
  isolation: isolate;
}

.spacer {
  height: 15vh;
  background: black;
}

.section-gradient {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  pointer-events: none;
  background-image: 
    linear-gradient(
      to bottom,
      rgba(0,0,0,1),
      transparent 20%,
      transparent 80%,
      rgba(0,0,0,1)
    );
}

.greeting__decor_mobile,
.about__decor_mobile,
.events__decor_mobile,
.menu__decor_mobile,
.bar-menu__decor_mobile,
.banquet__decor_mobile {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
  pointer-events: none;
  display: flex;
}

.events__decor_mobile
.bar-menu__decor_mobile {
  flex-direction: column;
  justify-content: flex-end;
}

.menu__decor_mobile {
  justify-content: flex-end;
}

.about__decor_mobile,
.banquet__decor_mobile {
  flex-direction: column;
  justify-content: flex-start;
}

.hand-img_mobile {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top right;
}

.greeting__fill_mobile {
  height: 80%;
  width: calc(100% - 40px);
  margin: 20px;
  background: transparent;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  position: absolute;
  z-index: 10;
}

.logo-wrapper_mobile {
  display: flex;
  justify-content: center;
}

.logo-mobile {
  width: 50%;
}

.working-hours_mobile {
  padding: 24px;
  font-size: 20px;
  background: transparent;
  color: white;
  text-align: left;
}

.image-lamp_mobile {
  width: 100%;
  object-fit: contain;
}

.point-one_mobile {
  text-align: left;
  cursor: pointer;
  color: white;
  font-size: 30px;
}


.about__point-wrapper_mobile {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}


.point-one-two_mobile {
  text-align: center;
  color: white;
  font-size: 17px;
}



.point-three_mobile {
  text-align: center;
  font-size: 3vh;
  color: white;
}

.image-piano_mobile {
  width: 100%;
  object-position: bottom center;

}

.all-events__button_mobile {
  text-align: center;
  font-size: 2vh;
  padding: 2vh;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  border-style: solid none;
  border-width: 1px;
  border-color: #feeb7a;
}

.extract_mobile {
  /* margin-top: 10%; */
  /* margin-bottom: 4%; */
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

.image-extract_mobile {
  width: 75%;
  object-fit: contain;
}

.image-fork_mobile {
  height: 100%;
}

.about__fill_mobile,
.events__fill_mobile,
.menu__fill_mobile,
.bar-menu__fill_mobile,
.banquet__fill_mobile {
  height: 72%;
  /* width: calc(100% - 40px); */
  width: 100%;
  /* margin: 20px; */
  padding-top: 20%;
  flex-direction: column;
  /*align-items: stretch;*/
  justify-content: space-between;
  background: transparent;
  display: flex;
  position: absolute;
  z-index: 10;
}

.menu__point_mobile {
  margin: 20px;
  color: white;
  font-size: 3vh;
}

.menu__point-wrapper_mobile {
  margin: 20px;
  width: 48%;
  font-size: 2.7vh;
  color: #c98e7d;
  display: flex;
  flex-direction: column;
}

.business_mobile {
  margin-top: 2vh;
}

.business-timing_mobile {
  margin-top: 0.5vh;
  font-size: 2vh;
}

.menu-button_mobile,
.bar-menu-button_mobile {
  width: calc(100% - 4vh);
  text-align: center;
  font-size: 2.5vh;
  margin-bottom: 2%;
  padding: 2vh;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  border-style: solid none;
  border-width: 1px;
  border-color: #feeb7a;
}

.bubbles {
  width: 100%;
}

.gl {
  width: 100%;
  object-fit: contain;
}

.banquet__point1_mobile {
  margin: 10px 20px;
  color: white;
  font-size: 6vw;
}

.banquet__point2_mobile {
  margin: 10px 20px;
  color: #feeb7a;
  text-shadow:
    0 0 6px red,
    0 0 12px red;
  font-size: 8vw;
  text-align: right;
}

.banquet__point-two_mobile {
  /* padding-top: 10vh; */
  padding: 22px 20px;
  color: white;
  font-size: 4.5vw;
}

.banquet__connect-text_mobile {
  padding: 6px;
  color: white;
  font-size: 4vw;
  /* text-align: center; */
}

.column-center-wrapper {
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.go {
  color: white;
  font-size: 5vw;
  padding: 10px;
  text-align: center;
}

/* .button_dark { */
/*   padding: 2vw 3vw; */
/*   color: white; */
/*   font-size: 5vw; */
/*   border-radius: 5vw; */
/*   background-color: #ffba7a23; */
/* } */

.row-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.button_dark {
  width: 100%;
  margin: 1px;
  padding: 2vw 3vw;
  border-radius: 4vw;
  border-style: solid;
  border-width: 1px;
  border-color: #feeb7a;
  background: rgba(254,235,122,0.05);
  color: white;
  text-align: center;
  font-size: 3.5vw;
  display: flex;
  flex-direction: column;
}

.main-point_mobile {
  margin: 20px;
  color: white;
  font-weight: 300;
  font-size: 6vw;
}

@media (min-width: 768px) {

  .greeting__decor_mobile,
  .greeting__fill_mobile,
  .about__decor_mobile,
  .about__fill_mobile,
  .events__decor_mobile,
  .events__fill_mobile,
  .menu__decor_mobile,
  .menu__fill_mobile,
  .bar-menu__decor_mobile,
  .bar-menu__fill_mobile,
  .banquet__decor_mobile,
  .banquet__fill_mobile,
  .discount__decor_mobile,
  .discount__fill_mobile,
  .contacts__decor_mobile,
  .contacts__fill_mobile {
    display: none;
  }
}
