@font-face {
  font-display: swap;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  src: url('fonts/montserrat-v31-cyrillic_cyrillic-ext_latin-300.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url('fonts/montserrat-v31-cyrillic_cyrillic-ext_latin-700.woff2') format('woff2');
}

body {
  margin: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

p {
  font-family: "Montserrat", Arial, sans-serif;
  margin: 0;
}

.header {
  position: fixed;
  width: calc(100% - 40px);
  padding: 20px;
  z-index: 100;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (min-width: 768px) {
  .header {
    padding: 40px;
    width: 100%;
  }
}

.address-button,
.navigation-button {
  height: 32px;
  width: 32px;
  background: transparent;
  display: flex;
  cursor: pointer;
}

@media (min-width: 768px) {
  .address-button,
  .navigation-button  {
    height: 40px;
    width: 40px;
  }
}

.address-button__icon,
.navigation-button__icon {
  width: 100%;
  height: 100%;
}

.address-panel,
.navigation-menu {
  display: none;
}

.address-panel._active,
.navigation-menu._active {
  width: 100%;
  height: calc(100vh - 112px);
  top: 52px;
  position: absolute;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: black;
  color: white;
  font-size: 16px;
}

/* .navigation-menu._active { */
/*   font-weight: 700; */
/* } */

@media (min-width: 768px) {
  .address-panel._active,
  .navigation-menu._active {
    top: 80px;
  }
}

.navigation-menu__about,
.navigation-menu__events,
.navigation-menu__menu,
.navigation-menu__alcohol-menu,
.navigation-menu__banquet,
.navigation-menu__contacts {
  margin: 5px;
  padding: 15px 20px;
  background: #1f1c0f;
  border-radius: 30px;
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.greeting {
  height: 100vh;
  width: 100%;
  background: black;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  position: relative;
  isolation: isolate;
}

.greeting__decor_mobile {
  width: 100%;
  right:0;
  top: 10%;
  position: absolute;
  z-index: 0;
  pointer-events: none;
  display: flex;
}

.hand-img {
  width: 100%;
}


.greeting__fill_mobile {
  height: calc(100% - 90px);
  width: calc(100% - 40px);
  margin: 20px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  background: transparent;
  display: flex;
  position: absolute;
  z-index: 1;
}




@media (min-width: 768px) {
  .greeting__fill_mobile {
    display: none;
  }
  .greeting__decor_mobile {
    display: none;
  }
}

.logo-mobile {
  width: 100%;
}

.working-hours {
  margin: 24px;
  background: transparent;
  color: white;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.about {
  height: 100vh;
  width: 100vw;
  background: black;
  position: relative;
  isolation: isolate;
}

.about__decor_mobile {
  width: 100%;
  position: absolute;
  z-index: 0;
  pointer-events: none;
  display: flex;
  flex-direction: column;
}

.image-lamp_mobile {
  width: 100%;
}

.about__fill_mobile {
  height: calc(100% - 90px - 8vh);
  width: calc(100% - 40px);
  margin: 20px;
  margin-top: 11vh;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  background: transparent;
  display: flex;
  position: absolute;
  z-index: 1;
}

.point-one_mobile {
  text-align: left;
  color: white;
  font-size: 30px;
  margin-bottom: 40%;
}

.point-one-two_mobile {
  margin: 4vw;
  margin-bottom: 7vh;
  text-align: right;
  color: white;
  font-size: 16px;
}

.about__point-wrapper_mobile {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.point-two_mobile {
  margin: 0;
  text-align: center;
  color: white;
  font-size: 14px;
}

@media (min-width: 768px) {
  .image-lamp {
    display: none;
  }
}

.events {
  height: 100vh;
  width: 100vw;
  background: black;
  position: relative;
  isolation: isolate;
}

.events__decor_mobile {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 0;
  pointer-events: none;
  display: flex;
  /* align-items: center; */
  flex-direction: column;
  justify-content: flex-end;
}

/* .image-piano-mobile { */
/*   width: 100%; */
/* } */

.events__fill_mobile {
  height: calc(100% - 90px - 8vh);
  width: calc(100% - 40px);
  margin: 20px;
  margin-top: 10vh;
  flex-direction: column;
  align-items: stretch;
  /* justify-content: center; */
  background: transparent;
  display: flex;
  position: absolute;
  z-index: 1;
}

.point-three_mobile {
  text-align: center;
  font-size: 30px;
  color: white;
}

.all-events_mobile {
  display: flex;
  flex-direction: row-reverse;
}

.all-events__button_mobile {
  font-size: 14px;
  padding: 10px 15px;
  /* margin-bottom: 42%; */
  /* margin: 5%; */
  /* text-align: left; */
  /* background: black; */
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  border-radius: 30px;
  border-style: solid;
  border-width: 1px;
  border-color: #feeb7a;
}

.extract {
  margin-top: 10%;
  margin-bottom: 4%;
  /* height: 35%; */
  /* padding: 5% 0; */
}

.image-extract {
  width: 100%;
}

@media (min-width: 768px) {
  .events__decor_mobile,
  .events__fill_mobile {
    display: none;
  }
}


.menu {
  height: 100vh;
  width: 100vw;
  background: #400808;
}

.discount {
  height: 100vh;
  width: 100vw;
  background: pink;
}

.banquet {
  height: 100vh;
  width: 100vw;
  background: #45a87f;
}

.contacts {
  height: 100vh;
  width: 100vw;
  background: #f7e6e6;
}


.footer {
  position: fixed;
  bottom: 0;
  height: 40px;
  width: calc(100vw - 40px);
  margin: 20px;
  z-index: 100;
  background: transparent;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}



.reservation-button {
  height: 100%;
  border-radius: 20px;
  background: #feeb7a;
  display: flex;
  align-items: center;
  justify-content: center;
}

.reservation-button__text {
  font-size: 10px;
  font-weight: 700;
  color: black;
  margin: 20px;
}

@media (min-width: 768px) {
  .reservation-button__text {
    font-size: 12px;
    margin: 40px;
  }
}
