@font-face {
  font-display: swap;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  src: url('fonts/montserrat-v31-cyrillic_cyrillic-ext_latin-300.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url('fonts/montserrat-v31-cyrillic_cyrillic-ext_latin-700.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Pangolin';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/pangolin-v12-cyrillic_cyrillic-ext_latin-regular.woff2') format('woff2');
}


@font-face {
  font-display: swap;
  font-family: 'Amatic SC';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/amatic-sc-v28-cyrillic_latin-regular.woff2') format('woff2');
}

body {
  margin: 0;
}

p {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
  font-family: "Montserrat", Arial, sans-serif;
}

.main-buttons-wrapper {
  top: 0;
  left: 0;
  position: fixed;
  z-index: 100;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  padding: 20px;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.address-button,
.navigation-button {
  height: 32px;
  width: 32px;
  background: transparent;
  display: flex;
  cursor: pointer;
}

.address-button__icon,
.navigation-button__icon {
  width: 100%;
  height: 100%;
}

.address-panel,
.navigation-menu {
  display: none;
}

.address-panel._active,
.navigation-menu._active {
  width: 80%;
  height: 90%;
  padding: 10% 10%;
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}

.address-panel._active {
  text-align: center;
  font-size: 10vw;
  font-family: 'Amatic SC', Arial, sans-serif;
}

.navgation-menu._active {
  font-family: 'Montserrat', Arial, sans-serif;
}

.navigation-menu__about,
.navigation-menu__events,
.navigation-menu__menu,
.navigation-menu__bar-menu,
.navigation-menu__banquet,
.navigation-menu__discount,
.navigation-menu__contacts {
  /* margin: 5px; */
  padding: 15px 20px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 30px;
  border-color: #feeb7a;
  border-style: solid;
  border-width: 1px;
}

.footer {
  padding: 20px;
  background: transparent;
  display: flex;
  justify-content: center;
}

.reservation-button {
  padding: 14px 20px;
  border-radius: 30px;
  background: #feeb7a;
  font-size: 10px;
  font-weight: 700;
  color: black;
  font-family: "Montserrat", Arial, sans-serif;

}

.greeting,
.about,
.events,
.menu,
.bar-menu,
.banquet,
.discount,
.contacts {
  height: 100vh;
  width: 100vw;
  background: black;
  position: relative;
  isolation: isolate;
}

.section-gradient {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  pointer-events: none;
  background-image: 
    linear-gradient(
      to bottom,
      rgba(0,0,0,1),
      transparent 20%,
      transparent 80%,
      rgba(0,0,0,1)
    );
}

.greeting__decor_mobile,
.about__decor_mobile {
  width: 100%;
  position: absolute;
  z-index: 0;
  pointer-events: none;
  display: flex;
}

.hand-img_mobile {
  width: 100%;
  /* object-fit: cover; */
}

.greeting__fill_mobile {
  height: 80%;
  width: calc(100% - 40px);
  margin: 20px;
  background: transparent;
  font-family: "Montserrat", Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  position: absolute;
  z-index: 10;
}

.logo-wrapper_mobile {
  display: flex;
  justify-content: center;
}

.logo-mobile {
  width: 50%;
}

.working-hours_mobile {
  padding: 24px;
  font-size: 20px;
  background: transparent;
  color: white;
  text-align: left;
}

.image-lamp_mobile {
  width: 100%;
}

.about__fill_mobile {
  height: 74%;
  width: calc(100% - 40px);
  margin: 20px;
  padding-top: 25%;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  background: transparent;
  font-family: "Montserrat", Arial, sans-serif;
  display: flex;
  position: absolute;
  z-index: 10;
}

.point-one_mobile {
  text-align: left;
  cursor: pointer;
  color: white;
  font-size: 30px;
}


.about__point-wrapper_mobile {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}


.point-one-two_mobile {
  text-align: center;
  color: white;
  font-size: 17px;
}


.events__decor_mobile {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 0;
  pointer-events: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.events__fill_mobile {
  height: calc(100% - 90px - 8vh);
  width: calc(100% - 40px);
  margin: 20px;
  margin-top: 10vh;
  flex-direction: column;
  align-items: stretch;
  background: transparent;
  font-family: "Montserrat", Arial, sans-serif;
  display: flex;
  position: absolute;
  z-index: 10;
}

.point-three_mobile {
  text-align: center;
  font-size: 3vh;
  color: white;
}

.all-events__button_mobile {
  text-align: center;
  font-size: 2vh;
  padding: 2vh;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  border-style: solid none;
  border-width: 1px;
  border-color: #feeb7a;
}

.extract_mobile {
  margin-top: 10%;
  margin-bottom: 4%;
}

.image-extract_mobile {
  width: 100%;
}

@media (min-width: 768px) {

  .events__decor_mobile,
  .events__fill_mobile {
    display: none;
  }
}

.menu__decor_mobile {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 0;
  pointer-events: none;
  display: flex;
  /* flex-direction:  row; */
  /* align-items: flex-end; */
  justify-content: right;
}

.image-fork_mobile {
  height: 100%;
}

.menu__fill_mobile,
.bar-menu__fill_mobile,
.banquet__fill_mobile {
  height: 70%;
  /* width: calc(100% - 40px); */
  width: 100%;
  /* margin: 20px; */
  padding: 23% 0;
  flex-direction: column;
  /*align-items: stretch;*/
  justify-content: space-between;
  background: transparent;
  display: flex;
  position: absolute;
  z-index: 10;
}

/* .menu__fill_mobile, */
/* .bar-menu__fill_mobile { */
/*   justify-content: space-between; */
/* } */
/**/
/* .banquet__fill_mobile { */
/*   justify-content: space-around; */
/* } */

.menu__point_mobile {
  margin: 20px;
  color: white;
  font-size: 3vh;
  font-family: "Montserrat", Arial, sans-serif;
}

.menu__point-wrapper_mobile {
  margin: 20px;
  width: 48%;
  /* text-align: center; */
  font-size: 2.7vh;
  /* letter-spacing: -0.55em; */
  /* writing-mode: vertical-lr; */
  /* text-orientation: upright; */
  font-family: "Montserrat", Arial, sans-serif;
  color: #c98e7d;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

.business_mobile {
  margin-top: 2vh;
}

.business-timing_mobile {
  margin-top: 0.5vh;
  font-size: 2vh;
}

.menu-button_mobile,
.bar-menu-button_mobile {
  width: calc(100% - 4vh);
  text-align: center;
  font-size: 2.5vh;
  padding: 2vh;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  border-style: solid none;
  border-width: 1px;
  border-color: #feeb7a;
}

.bar-menu__decor_mobile {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 0;
  pointer-events: none;
  display: flex;
  overflow: hidden;
}

.bubbles {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.image-space_mobile {
  height: 100%;
  object-fit: cover;
}

.point-five_mobile,
.banquet__point_mobile {
  margin: 20px;
  color: white;
  font-size: 3vh;
  font-family: "Montserrat", Arial, sans-serif;
}

.banquet__point-wrapper_mobile {
  background-image: url("images/firework.png");
  background-repeat: no-repeat;
  background-position: right center;
  background-size: auto 100%;
}

.banquet__point-two_mobile {
  padding-top: 10vh;
  margin: 20px;
  color: white;
  font-size: 2.7vh;
  font-family: "Montserrat", Arial, sans-serif;
}

.connect-text_mobile {
  margin: 20px;
  color: white;
  font-size: 2.7vh;
  font-family: "Montserrat", Arial, sans-serif;
}
