body {
  margin: 0;
  background: black;
}

.header {
  position: fixed;
  top: 0;
  height: 10vh;
  width: 100%;
  z-index: 1;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation-button {
  height: 10vh;
  aspect-ratio: 1 / 1;
  background: transparent;
  display: flex;
}

.navigation-button__icon {
  width: 120%;
  height: 130%;
}

.address-button {
  height: 10vh;
  aspect-ratio: 1 / 1;
  background: transparent;
  display: flex;
}

.address-button__icon {
  width: 60%;
  height: 60%;
}

.content {
  display: flex;
  flex-direction: column;
}

.greeting {
  height: 100vh;
  width: 100%;
  background: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.greeting__fill {
  background: gray;
  display: flex;
}

.mobile {
  height: 80%;
  width: 90%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (min-width: 768px) {
  .mobile {
    display: none;
  }
}

.greeting__fill__logo-mobile {
  height: 100%;
  width: 100%;
}

.about {
  height: 100vh;
  width: 100%;
  background: #45a87f;
}

.menu {
  height: 100vh;
  width: 100%;
  background: #400808;
}

.events {
  height: 100vh;
  width: 100%;
  background: #f7e6e6;
}

.discount {
  height: 100vh;
  width: 100%;
  background: #400808;
}

.banquet {
  height: 100vh;
  width: 100%;
  background: #45a87f;
}

.events {
  height: 100vh;
  width: 100%;
  background: #f7e6e6;
}

.footer {
  position: fixed;
  bottom: 0;
  height: 10vh;
  width: 100%;
  z-index: 1;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

.reservation-button {
  height: 10vh;
  width: 10vh;
  background: black;
}

.bi bi-airplane-fill {
  color: red;
}
