@font-face {
  font-display: swap;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  src: url('fonts/montserrat-v31-cyrillic_cyrillic-ext_latin-300.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url('fonts/montserrat-v31-cyrillic_cyrillic-ext_latin-700.woff2') format('woff2');
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0;
}

p {
  font-family: "Montserrat", Arial, sans-serif;
  margin: 0;
}

.main-buttons-wrapper {
  top: 0;
  left: 0;
  position: fixed;
  z-index: 100;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  padding: 20px;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.address-button,
.navigation-button {
  height: 32px;
  width: 32px;
  background: transparent;
  display: flex;
  cursor: pointer;
}

.address-button__icon,
.navigation-button__icon {
  width: 100%;
  height: 100%;
}

.address-panel,
.navigation-menu {
  display: none;
}

.address-panel._active,
.navigation-menu._active {
  width: 100%;
  height: 70%;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.navigation-menu__about,
.navigation-menu__events,
.navigation-menu__menu,
.navigation-menu__alcohol-menu,
.navigation-menu__banquet,
.navigation-menu__contacts {
  margin: 5px;
  padding: 15px 20px;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 30px;
  border-color: #feeb7a;
  border-style: solid;
  border-width: 1px;
}

.footer {
  padding: 20px;
  background: transparent;
  display: flex;
  justify-content: center;
}

.reservation-button {
  padding: 15px 20px;
  border-radius: 30px;
  background: #feeb7a;
  font-size: 10px;
  font-weight: 700;
  color: black;
}

.greeting,
.about {
  height: 100vh;
  width: 100%;
  background: black;
  position: relative;
  isolation: isolate;
}

.greeting__decor_mobile,
.about__decor_mobile {
  width: 100%;
  position: absolute;
  z-index: 0;
  pointer-events: none;
  display: flex;
}

.hand-img {
  width: 100%;
}

.greeting__fill_mobile {
  height: 75%;
  width: calc(100% - 40px);
  margin: 20px;
  background: transparent;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  position: absolute;
  z-index: 1;
}

.logo-mobile {
  width: 100%;
}

.working-hours {
  padding: 24px;
  font-size: 20px;
  background: transparent;
  color: white;
}

.image-lamp_mobile {
  width: 100%;
}

.about__fill_mobile {
  /* height: calc(100% - 90px - 8vh); */
  /* width: calc(100% - 40px); */
  height: 74%;
  width: calc(100% - 40px);
  margin: 20px;
  padding-top: 25%;
  flex-direction: column;
  /* align-items: stretch; */
  align-items: stretch;
  justify-content: space-between;
  background: transparent;
  display: flex;
  position: absolute;
  z-index: 1;
}

.point-one_mobile {
  text-align: left;
  cursor: pointer;
  color: white;
  font-size: 30px;
  /* margin-bottom: 40%; */
}

.point-one-two_mobile {
  margin: 9%;
  padding-bottom: 7%;
  text-align: right;
  color: white;
  font-size: 16px;
}

.about__point-wrapper_mobile {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.point-two_mobile {
  /* margin: 0; */
  text-align: center;
  color: white;
  font-size: 14px;
}

.events {
  height: 100vh;
  width: 100vw;
  background: black;
  position: relative;
  isolation: isolate;
}

.events__decor_mobile {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 0;
  pointer-events: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.events__fill_mobile {
  height: calc(100% - 90px - 8vh);
  width: calc(100% - 40px);
  margin: 20px;
  margin-top: 10vh;
  flex-direction: column;
  align-items: stretch;
  background: transparent;
  display: flex;
  position: absolute;
  z-index: 1;
}

.point-three_mobile {
  text-align: center;
  font-size: 3vh;
  color: white;
}

.all-events__button_mobile {
  text-align: center;
  font-size: 2vh;
  padding: 2vh;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  border-style: solid none;
  border-width: 1px;
  border-color: #feeb7a;
}

.extract {
  margin-top: 10%;
  margin-bottom: 4%;
}

.image-extract {
  width: 100%;
}

@media (min-width: 768px) {

  .events__decor_mobile,
  .events__fill_mobile {
    display: none;
  }
}

.menu {
  height: 100vh;
  width: 100vw;
  background: #400808;
}

.discount {
  height: 100vh;
  width: 100vw;
  background: pink;
}

.banquet {
  height: 100vh;
  width: 100vw;
  background: #45a87f;
}

.contacts {
  height: 100vh;
  width: 100vw;
  background: #f7e6e6;
}
