@font-face {
  font-display: swap;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  src: url('fonts/montserrat-v31-cyrillic_cyrillic-ext_latin-300.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url('fonts/montserrat-v31-cyrillic_cyrillic-ext_latin-700.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Amatic SC';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/amatic-sc-v28-cyrillic_latin-regular.woff2') format('woff2');
}

:root {
  --vh: 1vh;
}

body {
  margin: 0;
}

p {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
  font-family: "Montserrat", Arial, sans-serif;
}

.header {
  top: 0;
  left: 0;
  position: fixed;
  z-index: 100;
  width: calc(100vw - 20px - 20px);
  padding: 20px;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.address-button,
.navigation-button {
  height: 32px;
  width: 32px;
  background: transparent;
  cursor: pointer;
  display: block;
}

.address-panel,
.navigation-menu {
  display: none;
}

.address-panel._active,
.navigation-menu._active {
  top: 10vh;
  width: 84%;
  height: 70vh;
  padding: 8%;
  position: fixed;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.address-panel._active {
  font-size: 10vw;
  font-family: 'Amatic SC', Arial, sans-serif;
}

.navigation-menu__item {
  margin: 2px;
  padding: 10px 15px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 30px;
  border-color: #feeb7a;
  border-style: solid;
  border-width: 1px;
  font-family: 'Montserrat', Arial, sans-serif;
  cursor: pointer;
}

.footer {
  bottom: 0;
  left: 0;
  position: fixed;
  z-index: 100;
  width: calc(100vw - 20px - 20px);
  padding: 20px;
  background: transparent;
  display: flex;
  justify-content: center;
}

.reservation-button {
  padding: 14px 20px;
  border-radius: 30px;
  background: #feeb7a;
  font-size: 10px;
  font-weight: 700;
  color: black;
  font-family: "Montserrat", Arial, sans-serif;
  cursor: pointer;
  display: block;
}

.content {
  font-family: 'Montserrat', Arial, sans-serif;
}

.spacer {
  height: calc(var(--vh) * 15);
  background: black;
}

.greeting,
.about,
.events,
.menu,
.bar-menu,
.banquet,
.discount,
.contacts {
  min-height: calc((var(--vh) * 100) - 52px - 90px);
  height: auto;
  width: 100%;
  padding: 52px 0 90px 0px;
  background-color: black;
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
}

.greeting {
  min-height: calc((var(--vh) * 100) - 20px - 80px);
  height: auto;
  width: calc(100vw - 40px);
  padding: 20px 20px 80px 20px;
  background-image: 
    linear-gradient(
      to bottom,
      rgba(0,0,0,1),
      transparent 20%,
      transparent 80%,
      rgba(0,0,0,1)
    ),
    url("images/hand.png");
  background-position: top right;
}

.greeting__logo {
  width: 50%;
  object-position: center;
}

.about {
  background-image: 
    linear-gradient(
      to bottom,
      rgba(0,0,0,1),
      transparent 20%,
      transparent 80%,
      rgba(0,0,0,1)
    ),
    url("images/lamp.png");
  background-position: top right;
}

.about__description {
  text-align: center;
  color: white;
  font-size: 4.5vw;
}

.events {
  background-image: 
    linear-gradient(
      to bottom,
      rgba(0,0,0,1),
      transparent 20%,
      transparent 80%,
      rgba(0,0,0,1)
    ),
    url("images/piano.png");
  background-position: bottom center;
}

.events_filmstrip_wrap {
  height: 24%;
  overflow: hidden;
}

.events_filmstrip {
  height: 100%;
  width: auto;
  display: block;
}

.menu {
  background-image: 
    linear-gradient(
      to bottom,
      rgba(0,0,0,1),
      transparent 20%,
      transparent 80%,
      rgba(0,0,0,1)
    ),
    url("images/fork.png");
  background-position: bottom right;
}

.menu__additional-positions {
  width: 42%;
  padding: 5px 20px;
  font-size: 4vw;
  color: #636363;
}

.bar-menu {
  min-height: calc(var(--vh) * 100);
  height: auto;
  width: 100%;
  padding: 0;
  position: relative;
  overflow: hidden;
}

.bar-menu__background {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  z-index: 0;
}

.bar-menu__content {
  height: calc(var(--vh) * 100 - 52px - 80px);
  width: 100%;
  padding: 52px 0 80px 0px;
  flex-direction: column;
  justify-content: space-between;
  background: transparent;
  display: flex;
  align-items: stretch;
  position: relative;
  z-index: 10;
}

.banquet {
  background-image: url("images/gl1.jpg");
  background-position: top center;
}

.banquet__main-point-1 {
  padding-top: 14px;
  margin: 10px 20px;
  color: white;
  font-size: 6vw;
}

.banquet__main-point-2 {
  margin: 10px 20px;
  color: #feeb7a;
  text-shadow:
    0 0 6px red,
    0 0 12px red;
  font-size: 8vw;
  text-align: right;
}

.banquet__description {
  padding: 22px 20px;
  color: white;
  font-size: 4.5vw;
}

.banquet__contact {
  padding: 6px;
  color: white;
  font-size: 4vw;
  text-align: center;
}

.banquet__contact__button {
  width: 100%;
  margin: 5px;
  padding: 2vw 3vw;
  border-radius: 4vw;
  border-style: solid;
  border-width: 1px;
  border-color: #feeb7a;
  background: rgba(254,235,122,0.05);
  color: white;
  text-align: center;
  font-size: 3.5vw;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.discount {
  text-align: center;
}

.discount__item {
  margin: 20px;
  color: white;
  font-size: 4vw;
}

.discount__icon {
  margin: 10px;
  height: 32px;
  weight: 32px;
}

.discount__item__description {
  margin: 10px;
  color: #636363;
}

.contacts {
  color: white;
  text-align: center;
}

.contacts__item {
  margin: 20px;
  padding: 0 10%;
  font-size: 4.5vw;
}

.contacts__media {
  border-style: solid none none none;
  border-width: 1px;
  border-color: #feeb7a;
  display: flex;
  flex-direction: column;
}

.main-point {
  margin: 7vh 20px;
  color: white;
  font-size: 6vw;
}

.button_black {
  width: calc(100% - 4);
  text-align: center;
  font-size: 2.5vh;
  margin-bottom: 4vh;
  padding: 2vh;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  border-style: solid none;
  border-width: 1px;
  border-color: #feeb7a;
}

.wrapper_row {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.wrapper_row-center {
  display: flex;
  justify-content: center;
}

.wrapper_column-center {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.x {
  padding: 10px;
  background: black;
  color: #636363;
  font-size: 2vh;
  border-style: solid none none none;
  border-width: 1px;
  border-color: #636363;
}
