body {
  margin: 0;
  background: black;
}

.header {
  position: fixed;
  top: 0;
  height: 10vh;
  width: 100%;
  z-index: 1;
  background: transparent;
  display: flex;
  flex-direction: row-reverse;
}

.navigation-button {
  height: 10vh;
  aspect-ratio: 1 / 1;
  background: #9c6f00;
}

.address-button {
  height: 10vh;
  aspect-ratio: 1 / 1;
  background: black;
}

.content {
  display: flex;
  flex-direction: column;
}

.intro {
  height: 100vh;
  width: 100%;
  background: #f7e6e6;
}

.about {
  height: 100vh;
  width: 100%;
  background: #45a87f;
}

.banquet {
  height: 100vh;
  width: 100%;
  background: #400808;
}

.footer {
  position: fixed;
  bottom: 0;
  height: 10vh;
  width: 100%;
  z-index: 1;
  background: transparent;
  display: flex;
  flex-direction: row-reverse;
}

.reservation-button {
  height: 10vh;
  width: 10vh;
  background: black;
}
