body {
  margin: 0;
  background: black;
}

.header {
  position: fixed;
  top: 0;
  height: 32px;
  width: calc(100% - 32px);
  margin: 16px;
  z-index: 1;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation-button {
  height: 100%;
  background: transparent;
  display: flex;
}

.navigation-button__icon {
  width: 100%;
  height: 100%;
}

.address-button {
  height: 100%;
  background: transparent;
  display: flex;
}

.address-button__icon {
  width: 100%;
  height: 100%;
}

.content {
  display: flex;
  flex-direction: column;
}

.greeting {
  height: 100vh;
  width: 100%;
  background: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}



.greeting__fill-mobile {
  height: 80%;
  width: 90%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  background: black;
  display: flex;

}

p {
  width: 100%;
  color: white;
  font-size: 20px;
}

@media (min-width: 768px) {
  .greeting__fill-mobile {
    display: none;
  }
}

.logo-mobile {
  width: 100%;
}

.about {
  height: 100vh;
  width: 100%;
  background: #45a87f;
  position: relative;
  isolation: isolate;
}

.about__decor {
  position: absolute;
  inset: 0;
  z-index: 1;
  pointer-events: none;
}

.image-lamp {
  width: 100%;
  height: auto;
  display: block;
}


@media (min-width: 768px) {
  .image-lamp {
    display: none;
  }
}

.about__text {
  position: relative;
  z-index: 2;
}

.menu {
  height: 100vh;
  width: 100%;
  background: #400808;
}

.events {
  height: 100vh;
  width: 100%;
  background: #f7e6e6;
}

.discount {
  height: 100vh;
  width: 100%;
  background: #400808;
}

.banquet {
  height: 100vh;
  width: 100%;
  background: #45a87f;
}

.events {
  height: 100vh;
  width: 100%;
  background: #f7e6e6;
}

.footer {
  position: fixed;
  bottom: 0;
  height: 32px;
  width: calc(100% - 32px);
  margin: 16px;
  z-index: 1;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

.reservation-button {
  height: 100%;
  background: #9e1512;
  color: #feeb7a;
}

