body {
  margin: 0;
  background: black;
}

.header {
  position: fixed;
  top: 0;
  height: 10vh;
  width: 100%;
  z-index: 1;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation-button {
  height: 10vh;
  aspect-ratio: 1 / 1;
  background: #9c6f00;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  font-size: 10vh;
}

.ri-layout-horizontal-fill {
  line-height: 1;
}

.address-button {
  height: 10vh;
  aspect-ratio: 1 / 1;
  background: #45a87f;
  display: flex;
}

.content {
  display: flex;
  flex-direction: column;
}

.intro {
  height: 100vh;
  width: 100%;
  background: #f7e6e6;
}

.about {
  height: 100vh;
  width: 100%;
  background: #45a87f;
}

.menu {
  height: 100vh;
  width: 100%;
  background: #400808;
}

.events {
  height: 100vh;
  width: 100%;
  background: #f7e6e6;
}

.discount {
  height: 100vh;
  width: 100%;
  background: #400808;
}

.banquet {
  height: 100vh;
  width: 100%;
  background: #45a87f;
}

.events {
  height: 100vh;
  width: 100%;
  background: #f7e6e6;
}

.footer {
  position: fixed;
  bottom: 0;
  height: 10vh;
  width: 100%;
  z-index: 1;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

.reservation-button {
  height: 10vh;
  width: 10vh;
  background: black;
}

.bi bi-airplane-fill {
  color: red;
}
