@font-face {
  font-display: swap;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  src: url('./assets/fonts/montserrat-v31-cyrillic_cyrillic-ext_latin-300.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url('./assets/fonts/montserrat-v31-cyrillic_cyrillic-ext_latin-700.woff2') format('woff2');
}

body {
  margin: 0;
  color: paleturquoise;
}

p {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.header {
  top: env(safe-area-inset-top);
  position: fixed;
  z-index: 100;
  width: 100%;
  box-sizing: border-box;
  /* padding: 20px; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #d4c798;
  font-size: 20px;
  font-weight: 700;
  font-family: 'Montserrat', Arial, sans-serif;
  background-image: 
    linear-gradient(
      to bottom,
      rgba(0,0,0,1),
      transparent 100%
    );
}

.header__cancel-button,
.header__display-button {
  height: 24px;
  width: 24px;
  margin: 20px;
}

.event-single-page .header__title,
.event-single-page .header__display-button {
  display: none;
}

.header__cancel-button {
  display: block;
  flex-shrink: 0;

  background-image: url("./assets/icons/cancel.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.content {
  height: 100vh;
  width: 100vw;
  font-family: 'Montserrat', Arial, sans-serif;
  background-color: gray;
}

.event__image {
  width: 60vw;
}
