body {
  margin: 0;
  background: black;
}

.content {
  display: flex;
  flex-derection: column;
}

.intro {
  height: 100vh;
  width: 100%;
  background: #f7e6e6;
}

.about {
  height: 100vh;
  width: 100%;
  background: #45a87f;
}

.banquet {
  height: 100vh;
  width: 100%;
  background: #400808;
}
