@font-face {
  font-display: swap;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  src: url('./assets/fonts/montserrat-v31-cyrillic_cyrillic-ext_latin-300.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url('./assets/fonts/montserrat-v31-cyrillic_cyrillic-ext_latin-700.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Amatic SC';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/amatic-sc-v28-cyrillic_latin-regular.woff2') format('woff2');
}

body {
  margin: 0;
}

p {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
  font-family: "Montserrat", Arial, sans-serif;
}

.header {
  top: 0;
  left: 0;
  position: fixed;
  z-index: 100;
  width: 100%;
  box-sizing: border-box;
  padding: 20px;
  padding-top: calc(env(safe-area-inset-top) + 20px);
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.address-button,
.navigation-button {
  height: 32px;
  width: 32px;
  background: transparent;
  cursor: pointer;
  display: block;
}

.address-panel,
.navigation-menu {
  display: none;
}

.address-panel._active,
.navigation-menu._active {
  top: 0;
  min-height: var(--initial-vh);
  width: 100%;
  padding: 20% 0;
  box-sizing: border-box;
  position: fixed;
  z-index: 50;
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.address-panel._active {
  font-size: 10vw;
  font-family: 'Amatic SC', Arial, sans-serif;
}

.navigation-menu__item {
  margin: 2px;
  padding: 10px 15px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 30px;
  border-color: #ffe791;
  border-style: solid;
  border-width: 1px;
  font-family: 'Montserrat', Arial, sans-serif;
  cursor: pointer;
}

.footer {
  bottom: 0;
  left: 0;
  position: fixed;
  z-index: 100;
  width: 100%;
  box-sizing: border-box;
  padding: 20px;
  padding-bottom: calc(env(safe-area-inset-bottom) + 20px);
  background: transparent;
  display: flex;
  justify-content: center;
}

.reservation-button {
  padding: 14px 20px;
  border-radius: 30px;
  background: #ffe791;
  font-size: 10px;
  font-weight: 700;
  color: black;
  font-family: "Montserrat", Arial, sans-serif;
  cursor: pointer;
  display: block;
}

#restoplace-wrapper-btn {
  display: none;
}

.content {
  font-family: 'Montserrat', Arial, sans-serif;
}

.spacer {
  min-height: calc(var(--initial-vh-unit) * 15);
  background: black;
}

.greeting,
.about,
.events,
.menu,
.bar-menu,
.banquet,
.discount,
.contacts {
  min-height: var(--initial-vh);
  width: 100%;
  box-sizing: border-box;
  padding: 52px 0 90px 0px;
  background-color: black;
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
}

.greeting {
  padding: 20px 20px 80px 20px;
  background-image: 
    linear-gradient(
      to bottom,
      rgba(0,0,0,1),
      transparent 20%,
      transparent 80%,
      rgba(0,0,0,1)
    ),
    url("./assets/images/hand.jpg");
  background-position: top right;
}

.greeting__logo {
  width: 50%;
  object-position: center;
}

.about {
  background-image: 
    linear-gradient(
      to bottom,
      rgba(0,0,0,1),
      transparent 20%,
      transparent 80%,
      rgba(0,0,0,1)
    ),
    url("./assets/images/lamp.jpg");
  background-position: top right;
}

.about__description {
  text-align: center;
  color: white;
  font-size: 4.5vw;
}

.events {
  background-image: 
    linear-gradient(
      to bottom,
      rgba(0,0,0,1),
      transparent 20%,
      transparent 80%,
      rgba(0,0,0,1)
    ),
    url("./assets/images/piano.jpg");
  background-position: bottom center;
}

.events_filmstrip_wrap {
  height: calc(var(--initial-vh-unit) * 24);
  overflow: hidden;
}

.events_filmstrip {
  height: 100%;
  width: auto;
  display: block;
}

.menu {
  background-image: 
    linear-gradient(
      to bottom,
      rgba(0,0,0,1),
      transparent 20%,
      transparent 80%,
      rgba(0,0,0,1)
    ),
    url("./assets/images/fork.jpg");
  background-position: bottom right;
}

.menu__additional-positions {
  width: 42%;
  padding: 5px 20px;
  font-size: 4vw;
  color: white;
}

.menu__modal__open {
  cursor: pointer;
  display: block;
}

.menu__modal {
  z-index: 9999;
  display: none;
  position: fixed;
  inset: 0;
  width: 100%;
  height: var(--initial-vh);
  overflow-y: auto;
  overflow-x: hidden;
  background: black;
}

.menu__modal--visible {
  display: block;
}

.modal__inner {
  width: 100%;
  min-height: 100%;
}

.menu__modal__cancel {
  bottom: 0;
  right: 0;
  position: fixed;
  height: 32px;
  width: 32px;
  z-index: 2;
  display: block;
  margin: 30px;
  margin-bottom: calc(env(safe-area-inset-top) + 60px);
  cursor: pointer;
}

.menu__modal__cancel:hover {
  background: black;
}

.bar-menu {
  padding: 0;
}

.bar-menu__background {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  z-index: 0;
}

.bar-menu__content {
  min-height: var(--initial-vh);
  width: 100%;
  box-sizing: border-box;
  padding: 52px 0 80px 0px;
  flex-direction: column;
  justify-content: space-between;
  background: transparent;
  display: flex;
  align-items: stretch;
  position: relative;
  /* z-index: 1; */
}

.bar-menu__modal__open {
  cursor: pointer;
  display: block;
}

.bar-menu__modal {
  z-index: 9999;
  display: none;
  position: fixed;
  inset: 0;
  width: 100%;
  height: var(--initial-vh);
  overflow-y: auto;
  overflow-x: hidden;
  background: black;
}

.bar-menu__modal--visible {
  display: block;
}

.bar-menu__modal__cancel {
  bottom: 0;
  right: 0;
  position: fixed;
  height: 32px;
  width: 32px;
  z-index: 2;
  display: block;
  margin: 30px;
  margin-bottom: calc(env(safe-area-inset-top) + 60px);
  cursor: pointer;
}

.menu__modal__cancel:hover {
  background: black;
}

.modal__content {
  display: flex;
  flex-direction: column;
  width: 100%;
}


.banquet {
  background-image: url("./assets/images/gl1.jpg");
  background-position: top center;
}

.banquet__main-point-1 {
  padding-top: 14px;
  margin: 10px 20px;
  color: white;
  font-size: 6vw;
}

.banquet__main-point-2 {
  margin: 10px 20px;
  color: #ffe791;
  text-shadow:
    0 0 6px red,
    0 0 12px red;
  font-size: 8vw;
  text-align: right;
}

.banquet__description {
  padding: 22px 20px;
  color: white;
  font-size: 4.5vw;
}

.banquet__contact {
  padding: 6px;
  color: white;
  font-size: 4vw;
  text-align: center;
}

.banquet__contact__button {
  width: 100%;
  margin: 5px;
  padding: 2vw 3vw;
  border-radius: 4vw;
  border-style: solid;
  border-width: 1px;
  border-color: #ffe791;
  /* background: rgba(255,255,255,0.03); */
  color: white;
  text-align: center;
  font-size: 3.5vw;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.discount {
  text-align: center;
}

.discount__item {
  margin: 20px;
  color: white;
  font-size: 4vw;
}

.discount__icon {
  margin: 10px;
  height: 32px;
  width: 32px;
}

.discount__item__description {
  margin: 10px;
  color: #9e9e9e;
}

.contacts {
  color: white;
  text-align: center;
}

.contacts__item {
  margin: 20px;
  padding: 0 10%;
  font-size: 4.5vw;
}

.contacts__item_link {
  text-decoration: underline 1px #9e9e9e;
}

.main-point {
  margin: calc(var(--initial-vh-unit) * 7) 20px;
  color: white;
  font-size: 6vw;
}

.button_black {
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  font-size: calc(var(--initial-vh-unit) * 2.5);
  margin-bottom: calc(var(--initial-vh-unit) * 4);
  padding: calc(var(--initial-vh-unit) * 2);
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  border-style: solid none;
  border-width: 1px;
  border-color: #ffe791;
}

.wrapper_row {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.wrapper_row-center {
  display: flex;
  justify-content: center;
}

.wrapper_column-center {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.x {
  padding: 10px;
  background: black;
  color: #636363;
  font-size: calc(var(--initial-vh-unit) * 2);
  border-style: solid none none none;
  border-width: 1px;
  border-color: #636363;
}

.modal__content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.modal__content img {
  display: block;
  width: 100%;
  height: auto;
}
